---
- include_vars: "main.yml"
- include_vars: "{{ rbenv_env }}.yml"

- include: "{{ rbenv_env }}/install.yml"

- name: add rbenv initialization to profile
  template: >
    src=rbenv.sh.j2
    dest=/etc/profile.d/rbenv.sh
    owner=root
    group=root
    mode=0755
  sudo: true
